body {
  background-color:black;
  color:white;
  font-size:21px;
}

p{
  color:white;
  font-size:20px;
}

h1{
  color:pink;
  font-size:22px;
}

.Middle_Section{
  background-color:green;
  color:pink;
  width:500px;
  height:300px;
}

.Middle_Section{
  background-color:green;
  color:pink;
  width:500px;
  height:300px;
}

.Bottom_Section{
  background-color:white;
  color: blue;
  width:100px;
  height:150px;
}
span{
  color:blue;
  width:50px;
}
